@import url(http://fonts.googleapis.com/css?family=Roboto:500,700);

$border-color: #435757;
$main-font-color: #435757;
$main-font: 500 1.2em 'Roboto', sans-serif;
$bright-bg: rgba(255, 255, 255, .2);

body, html {
    min-height: 100%;
}

body {
    background: linear-gradient(-20deg, #fe8874, #fe6868);
    font: $main-font;
    color: $main-font-color;
    padding: 20px;
}

h1 {
    text-align: center;
}

.chat-window {
    background: $bright-bg;
    margin: 0 auto;
    padding: 10px;
    padding-right: 18px;
    
    textarea {
        resize: none;
        width: 100%;
        background: none;
        border: 2px solid $border-color;
    }
}

.input-window {
    background: $bright-bg;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    
    input[type="text"] {
        border: 2px solid $border-color;
        background: none;
        flex-grow: 10;
    }
    
    button {
        border: 2px solid $border-color;
        background: none;
        width: 20%;
        min-width: 50px;
        margin-left: 10px;
    }
}