<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SpecialJourney</title>
        
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <h1>SpecialJourney</h1>
        
        <div class="chat-window">
            <div class="textarea" id="textarea">
            </div>
        </div>
        
        <div class="input-window">
            <input type="text" id="input">
            <button id="send">Send</button>
        </div>
        <div class="derp"></div>
        
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>